<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <div class="profile">
        <p>Dibawah ini adalah profil saya dan 2 teman lab saya</p>
        <hr>
        <img src=http://www.about.tarung2017.com/foto/119.jpg alt="Adli" width="350" height="250">
        <h1>{{ name }}</h1>
        <p>Umur : {{ age }} Tahun
        <p>NPM : {{ npm }}</p>
        <p>Kuliah di : {{ univ }}</p>
        <p>Hobi : {{ hobby }}</p>
        <p>Deskripsi: </p>
        <p>{{ desc }}</p>
        <hr>
        <img src=http://www.about.tarung2017.com/foto/101.jpg alt="Adam" width="350" height="250">
        <h1>{{ name1 }}</h1>
        <p>Umur : {{ age1 }} Tahun
        <p>NPM : {{ npm1 }}</p>
        <p>Kuliah di : {{ univ }}</p>
        <p>Hobi : {{ hobby1 }}</p>
        <p>Deskripsi: </p>
        <p>{{ desc1 }}</p>
        <hr>
        <img src=http://www.about.tarung2017.com/foto/224.jpg alt="Nadhir" width="350" height="250">
        <h1>{{ name2 }}</h1>
        <p>Umur : {{ age2 }} Tahun
        <p>NPM : {{ npm2 }}</p>
        <p>Kuliah di : {{ univ }}</p>
        <p>Hobi : {{ hobby2 }}</p>
        <p>Deskripsi: </p>
        <p>{{ desc2 }}</p>
</body>
</html>
